<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <title>Todo CRUD App</title>
</head>
<body>
<div class="jumbotron text-center">
<h1>Todos for today:</h1>

<form th:action="@{/todo/search}" method="post">
  <label>Search for:</label>
  <input type="text"
         id="search"
         name="search"
         placeholder="...something to do">
  <button type="submit">Search</button>
</form>
<a th:href="@{/assignee}">Assignees</a>

<a th:href="@{/todo/add}">Add new todo</a>
<p th:if="${todos.size() == 0}">You have an empty todo list. Nothing to do.</p>
</div>
<div class="container">
<table class="table" >
  <tr>
    <th>ID</th>
    <th>Action</th>
    <th>Urgent</th>
    <th>Done</th>
    <th>Assignee</th>
    <th></th>
    <th></th>
    <th>Date</th>
  </tr>
  <tr th:each="todo: ${todos}">
    <td th:text="${todo.getId()}"></td>
    <td th:text="${todo.getTitle()}"></td>
    <td th:text="${todo.isUrgent()}"></td>
    <td th:text="${todo.isDone()}"></td>
    <td> <a th:href="@{'/assignee/' + ${todo.getAssigneeId()}}" th:text="${todo.getAssigneeName()}"></a>
    </td>
    <td>
      <a th:href="@{'/todo/' + ${todo.getId()} + '/delete'}">delete</a>
    </td>
    <td>
      <a th:href="@{'/todo/' + ${todo.getId()} + '/edit'}">edit</a>
    </td>

  </tr>
</table>
</div>

</body>
</html>