<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>My Webshop</title>
  <meta charset="utf-8"/>
</head>
<body>
  <header>My Shop</header>
  <div>

  </div>
  <div>
    <label for="search">search for:</label>
    <input type="search" name="search" id="search" placeholder="...something like nike">
    <button>Search</button>
  </div>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity of stock</th>
  </tr>
  <tr th:each="item : ${itemList}">
    <td th:text="${item.getName()}"></td>
    <td th:text="${item.getDescription()}"></td>
    <td th:text="${item.getPrice()}"></td>
    <td th:text="${item.getQuantityOfStock()}"></td>
  </tr>
</table>
</body>
</html>