<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>main</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
        <h1>My Shop</h1>

  <div class="buttons">
      
        <button>ONLY AVAILABLE</button>
        <button>CHEAPEST FIRST</button>
        <button>CONTAINS NIKE</button>
        <button>AVERAGE STOCK</button>
        <button>MOST EXPENSIVE</button>
  </div>
  <div class="searchBar">
    <label for="search">search for:</label>
    <input type="search" name="search" id="search" placeholder="...something like nike">
    <button>Search</button>
  </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity of stock</th>
        </tr>
 
    </table>
</body>
</html>