body {
    background-color: steelblue;
    margin: 30px;

}
table {
    width: 100%;
    border-spacing: 4%;
    color: grey;    
    font-size: 30px;
    font-family: Georgia;
    font-style: normal;
    
}


table, th, td{
    border: 1px solid grey;
    border-collapse: collapse;
    border-bottom: 4px;
    padding: 20px;
    
}

tr {
    background-color: white;
}

tr:nth-child(even) {
    background-color: lightgray;
}

th {
    background-color: black;
    font-size: 1cm;
    text-align: left;
    font-style: normal;
    color: lightgray;
    font-size: 45px;
    
}


